
/*
	SELECTORES
			UNIVERSAL *
			ETIQUETA
			CLASE
			ID

*/
	
	#parrafo{
		color: black;
	}

	#link{
		color: gold;
	}

	.estilo1{
		color: violet;
		text-transform: uppercase;
		text-decoration: underline;
		text-shadow: 1px 1px 3px black;
	}

	.estilo2{
		color: yellow;
		text-transform: capitalize;
		text-decoration: overline;
		text-shadow: 1px 1px 3px green;
	}

	em{
		color: blue;
	}

	a{
		color:red;
	}

	*{
		color:red;
	}
